AOM2/XML-schema/P_Archetype.xsd

<?xml version="1.1" encoding="utf-8"?>
<!-- openEHR Archetype 2.0.6 XML schema - uses P_AOM types - much more space efficient -->
<!-- Authored by openEHR Foundation 2014.03.22  -->
<xs:schema xmlns="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schemas.openehr.org/v1" elementFormDefault="qualified" version="1.0.2"
	id="Archetype.xsd" vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

	<xs:include schemaLocation="Rules.xsd"/>
	<xs:include schemaLocation="Resource.xsd"/>
	<xs:include schemaLocation="ArchetypeCommon.xsd"/>

	<!-- Entry point -->
	<xs:element name="archetype" type="P_AUTHORED_ARCHETYPE"/>

	<!-- elements and attributes needed in P_ARCHETYPE and P_AUTHORED_ARCHETYPE -->
	<xs:group name="pArchetypeElements">
		<xs:choice>
			<xs:element name="artefact_type" type="xs:string"/>
			<xs:element name="archetype_id" type="P_ARCHETYPE_HRID"/>
			<xs:element name="parent_archetype_id" type="xs:string" minOccurs="0"/>
			<xs:element name="definition" type="P_C_COMPLEX_OBJECT"/>
			<xs:element name="rules" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="terminology" type="P_ARCHETYPE_TERMINOLOGY"/>
		</xs:choice>
	</xs:group>
	
	<xs:attributeGroup name="pArchetypeAttributes">
		<xs:attribute name="is_generated" type="xs:boolean" use="optional"/>
	</xs:attributeGroup>

	<!-- Root type -->
	<xs:complexType name="P_ARCHETYPE">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="pArchetypeElements"/>
		</xs:choice>
		<xs:attributeGroup ref="pArchetypeAttributes"/>
	</xs:complexType>

	<xs:complexType name="P_ARCHETYPE_HRID">
		<xs:sequence>
			<xs:element name="concept_id" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="namespace" type="xs:string" use="optional"/>
		<xs:attribute name="rm_publisher" type="xs:string"/>
		<xs:attribute name="rm_package" type="xs:string"/>
		<xs:attribute name="rm_class" type="xs:string"/>
		<xs:attribute name="release_version" type="xs:string" use="optional"/>
		<xs:attribute name="version_status" type="xs:integer" use="optional"/>
		<xs:attribute name="build_count" type="xs:integer" use="optional"/>
		<xs:attribute name="physical_id" type="xs:string"/>
	</xs:complexType>

	<xs:group name="P_AUTHORED_RESOURCE">
		<xs:choice>
			<xs:element name="uid" type="xs:string" minOccurs="0"/>
			<xs:element name="original_language" type="xs:string"/>
			<xs:element name="is_controlled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="description" type="RESOURCE_DESCRIPTION" minOccurs="0"/>
			<xs:element name="translations" type="TRANSLATION_DETAILS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotations" type="RESOURCE_ANNOTATIONS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="P_AUTHORED_ARCHETYPE">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="P_AUTHORED_RESOURCE"/>
			<xs:group ref="pArchetypeElements"/>
			<xs:element name="other_metadata" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="pArchetypeAttributes"/>
		<xs:attribute name="rm_release" type="xs:string"/>
		<xs:attribute name="adl_version" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="P_ARCHETYPE_CONSTRAINT" abstract="true">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="P_C_OBJECT" abstract="true">
		<xs:complexContent>
			<xs:extension base="P_ARCHETYPE_CONSTRAINT">
				<xs:sequence>
					<xs:element name="sibling_order" type="SIBLING_ORDER" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="occurrences" type="xs:string" use="optional"/>
				<xs:attribute name="is_deprecated" type="xs:boolean" use="optional"/>
				<xs:attribute name="node_id" type="xs:string" use="optional"/>
				<xs:attribute name="rm_type_name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_DEFINED_OBJECT">
		<xs:complexContent>
			<xs:extension base="P_C_OBJECT">
				<xs:attribute name="is_frozen" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_ATTRIBUTE">
		<xs:complexContent>
			<xs:extension base="P_ARCHETYPE_CONSTRAINT">
				<xs:sequence>
					<xs:element name="differential_path" type="xs:string" minOccurs="0"/>
					<xs:element name="children" type="P_C_OBJECT" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="rm_attribute_name" type="xs:string"/>
				<xs:attribute name="existence" type="xs:string" use="optional"/>
				<xs:attribute name="cardinality" type="xs:string" use="optional"/>
				<xs:attribute name="is_multiple" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_ATTRIBUTE_TUPLE">
		<xs:sequence>
			<xs:element name="members" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="P_C_COMPLEX_OBJECT">
		<xs:complexContent>
			<xs:extension base="P_C_DEFINED_OBJECT">
				<xs:sequence>
					<xs:element name="attributes" type="P_C_ATTRIBUTE" minOccurs="0"
						maxOccurs="unbounded"/>
					<xs:element name="attribute_tuples" type="P_C_ATTRIBUTE_TUPLE" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_C_ARCHETYPE_ROOT">
		<xs:complexContent>
			<xs:extension base="P_C_COMPLEX_OBJECT">
				<xs:sequence>
					<xs:element name="archetype_ref" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_ARCHETYPE_SLOT">
		<xs:complexContent>
			<xs:extension base="P_C_OBJECT">
				<xs:sequence>
					<xs:element name="includes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="excludes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="is_closed" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_PRIMITIVE_OBJECT">
		<xs:complexContent>
			<xs:extension base="P_C_DEFINED_OBJECT">
				<xs:attribute name="is_enumerated_type_constraint" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_C_COMPLEX_OBJECT_PROXY">
		<xs:complexContent>
			<xs:extension base="P_C_OBJECT">
				<xs:sequence>
					<xs:element name="target_path" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_BOOLEAN">
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT">
				<xs:sequence>
					<xs:element name="assumed_value" type="xs:boolean" minOccurs="0"/>
					<xs:element name="constraint" type="xs:boolean" maxOccurs="2"/>
					<xs:element name="default_value" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_STRING">
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT">
				<xs:sequence>
					<xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
					<xs:element name="constraint" type="xs:string" maxOccurs="unbounded"/>
					<xs:element name="default_value" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_TERMINOLOGY_CODE">
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT">
				<xs:sequence>
					<xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
					<xs:element name="constraint" type="xs:string"/>
					<xs:element name="default_value" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_INTEGER">
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT">
				<xs:sequence>
					<xs:element name="assumed_value" type="xs:integer" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfInteger" maxOccurs="unbounded"/>
					<xs:element name="default_value" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="P_C_REAL">
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT">
				<xs:sequence>
					<xs:element name="assumed_value" type="xs:float" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfReal" maxOccurs="unbounded"/>
					<xs:element name="default_value" type="xs:float" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="P_C_TEMPORAL"> 
		<xs:complexContent>
			<xs:extension base="P_C_PRIMITIVE_OBJECT"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="P_C_DATE">
		<xs:complexContent>
			<xs:extension base="P_C_TEMPORAL">
				<xs:sequence>
					<xs:element name="pattern_constraint" type="DateConstraintPattern" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfDate" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_C_DATE_TIME">
		<xs:complexContent>
			<xs:extension base="P_C_TEMPORAL">
				<xs:sequence>
					<xs:element name="pattern_constraint" type="DateTimeConstraintPattern" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfDateTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_C_TIME">
		<xs:complexContent>
			<xs:extension base="P_C_TEMPORAL">
				<xs:sequence>
					<xs:element name="pattern_constraint" type="TimeConstraintPattern" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_C_DURATION">
		<xs:complexContent>
			<xs:extension base="P_C_TEMPORAL">
				<xs:sequence>
					<xs:element name="pattern_constraint" type="DurationConstraintPattern" minOccurs="0"/>
					<xs:element name="constraint" type="IntervalOfDuration" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="P_ARCHETYPE_TERMINOLOGY">
		<xs:sequence>
			<xs:element name="term_definitions" type="CodeDefinitionSet" maxOccurs="unbounded"/>
			<xs:element name="terminology_extracts" type="CodeDefinitionSet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="term_bindings" type="TermBindingSet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value_sets" type="VALUE_SET" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="original_language" type="xs:string"/>
	</xs:complexType>
</xs:schema>
